<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>修理厂</string>
		<key>iconName</key>
		<string>home-fix</string>
	</dict>
	<dict>
		<key>title</key>
		<string>加油站</string>
		<key>iconName</key>
		<string>home-refuel</string>
	</dict>
	<dict>
		<key>title</key>
		<string>充电桩</string>
		<key>iconName</key>
		<string>home-charging</string>
	</dict>
	<dict>
		<key>title</key>
		<string>厕所</string>
		<key>iconName</key>
		<string>home-wc</string>
	</dict>
	<dict>
		<key>title</key>
		<string>停车场</string>
		<key>iconName</key>
		<string>home-parking</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒店</string>
		<key>iconName</key>
		<string>home-hotel</string>
	</dict>
	<dict>
		<key>title</key>
		<string>医院</string>
		<key>iconName</key>
		<string>home-hospital</string>
	</dict>
	<dict>
		<key>title</key>
		<string>服务区</string>
		<key>iconName</key>
		<string>home-area</string>
	</dict>
</array>
</plist>
